body {
    font-family: 'Kanit', 'Inter';
    
    font-weight: 300;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;

 
    background-image: url('../resources/imgs/Food_booth_bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 80px; 
    padding-bottom: 50px;
}





.product-container {
    max-width: 900px;
    width: 90%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.bestseller-tag {
    color: #ff0000;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.image-display {
    width: 40%;
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

#main-product-image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.product-details {
    width: 55%;
    text-align: left;
    padding: 0 20px;
}

#product-name {
    color: #ffd700;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 0;
    text-transform: uppercase;
}

#product-description {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ccc;
}

.price-box {
    background-color: #ffaa00;
    color: #000;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    width: fit-content;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ส่วน Thumbnail */
.thumbnail-selector {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.thumbnail {
    width: 70px;
    height: auto;
    border: 3px solid transparent;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail:hover, .thumbnail.active {
    opacity: 1;
    border-color: #ffd700;
}


main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 80px; 
    padding-bottom: 50px;
    
    
    flex-grow: 1; 
}

.header {
    width: 100%;
    z-index: 1030; 
}

#site-footer {
    width: 100%;
    
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .image-display, .product-details {
        width: 100%;
        text-align: center;
    }

    .product-details {
        padding: 20px 0;
    }

    .price-box {
        margin: 20px auto;
    }
}