body {
    font-family: 'Kanit', 'Inter';
    font-weight: 300;
}

.name-section h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    margin-top: 50px;
}

.img-fluid {
    margin-top: -800px;
}

.container {
  text-align: center;
  max-width: 800px;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: #d3d3d3;
}

.booth-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.booth {
  display: block;
  background-color: #d3d3d3;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.booth:hover {
  background-color: #bdbdbd;
  transform: scale(1.03);
}

.seating {
    background-color: #e1b04b;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 50px 0;
}

.food-booth {
    background-color: #7a0c0c;
    border-radius: 10px;
    height: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.food-booth:hover {
    background-color: #a31515;
    transform: scale(1.05);
}

.food-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
}
