body {
    font-family: 'Kanit', 'Inter';
    font-weight: 300;

   
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../resources/imgs/homepage-hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.name-section h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    margin-top: 50px;
}

.img-fluid {
    margin-top: -800px;
}

h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.booth {
    background-color: #d3d3d3;
    color: black;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

