.logo-btn{
    font-family: fantasy;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    vertical-align: bottom;
}

.navbar-brand img {
    height: auto;
    width: 2rem;
    border-radius: 2rem;
    margin:0 ;
    padding: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

.dropdown-menu-dark {
  border: none; 
}

.hero-section {
  /*Why -> The image is an decoration component, So prefer to put it on css more than html*/
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/resources/imgs/homepage-hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}