@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: 'Kanit', 'Inter';
  /*change font here*/
  font-weight: 300;

  /*Why -> The image is an decoration component, So prefer to put it on css more than html*/
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../resources/imgs/homepage-hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-btn {
  font-family: fantasy;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  vertical-align: bottom;
}

.navbar-brand img {
  height: auto;
  width: 2rem;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.dropdown-menu-dark {
  border: none;
}



#site-footer .footer-copyright {
  color: #adb5bd;
}

#site-footer .footer-icon-link {
  color: #adb5bd;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

#site-footer .footer-icon-link:hover {
  color: #ffffff;
  transform: translateY(-3px);
}